footer {
    display: flex;
    place-items: center;
    justify-content: space-between;
    background-color: rgb(33, 32, 44);
    color: white;
    padding: 1rem 1rem;


    a {
        color: white;
    }


}