@import "./colors";

.action-link-light {
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 1.3rem;
    padding: .5rem 1.5rem;
    background: none;
    text-decoration: none;
    transition: .3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $brand-blue; // Assuming $brand-blue is defined in _colors.scss
        color: white;
    }
}

.action-link-dark {
    color: $orange-accent;
    border: 1px solid $orange-accent;
    border-radius: 15px;
    font-size: 1rem;
    background: none;
    padding: .3rem .9rem;
    margin: 1rem 0 0 0;
    text-decoration: none;
    transition: .3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $brand-blue; // Assuming $brand-blue is defined in _colors.scss
        color: white;
    }
}

.small-action-link {}